<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Footer
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; {{ YEAR }} <a href="https://www.behmsoftware.de">Behm Software.</a></strong> Alle Rechte vorbehalten.
</footer>