<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Slim PHP/Twig Starter</title>
    {% block head %}{% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    {% include "Includes/header.twig" %}

    <!-- Left side column. contains the logo and sidebar -->
    {% include "Includes/sidebar-left.twig" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block body %}{% endblock %}
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    {% include "Includes/footer.twig" %}

    <!-- Control Sidebar -->
    {% include "Includes/sidebar-right.twig" %}
    <!-- /.control-sidebar -->
</div>
</body>
</html>